<div class="topnav">
  <a href="#contact">Contact</a>
  <a href="#resume">Resume</a>
  <a href="#project">Projects</a>
	<a href="#home" class="active">Home</a>
</div>
<h1>Welcome Page</h1>
<div class="container">
	<p>I am an Experienced Ruby on Rails (ROR) Developer with a proven track record of
		creating robust and scalable web applications. Proficient in end-to-end
		development, from conceptualization to deployment, and adept at
		optimising code for performance and maintainability. Skilled in
		collaborating with cross-functional teams and leveraging Agile
		methodologies to drive innovative solutions that meet business
		objectives.
	</p>
	<%# <button class="btn-primary">Projects</button> %>
</div>
