body{
	margin: 0px;
	padding: 0px;
	background-image: url("dummy.avif");
	background-size: cover;
	height: 785px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-family: sans-serif;
}

.container p {
	color: white;
	width: 500px;
	padding: 50px;
}

h1 {
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 750px;
    color: white;
    text-shadow: 2px;
}

.topnav {
  background-color: #f7f9fa;
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0fbdf7;
  color: white;
}

.topnav a.active {
  background-color: #0fbdf7;
  color: white;
}